/* start variables */
:root {
	--main-color: #3fd0c9;
	--bg-color: #02353c;
	--second-para-color: #c1f6ed;
	--para-color: #2eaf7d;
	--white-color: white;
	--font-biggest: 70px;
	--para-size-large: 20px;
	--para-size-medium: 14px;
	--para-size-small: 12px;
	--main-padding-top: 100px;
	--main-padding-bottom: 100px;
	--main-transition: 0.2s;
	--second-transition: 0.5s;
	--padding-top: 80px;
	--padding-bottom: 80px;
}
/* end variables */

/* ----------------------------------------------------------------------------- */

/* start global rules */

* {
	font-family: "Roboto", "Open Sans", sans-serif;
	padding: 0;
	margin: 0;
	list-style: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* small screen */

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

/* medium screen */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

/* larg screen */
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

/* end global rules */

/* -------------------------------------------------------------------------- */

/* ---------------------------- start component ----------------------------- */

.component {
	margin-bottom: 120px;
}

.component h2 {
	text-align: center;
	font-size: 120px;
	font-weight: 900;
	letter-spacing: -4px;
	color: #9c9c9c3b;
	user-select: none;
}

.component p {
	text-align: center;
	font-size: var(--para-size-large);
	font-weight: 600;
	letter-spacing: -0.3px;
	color: #333;
	margin-top: -38px;
}

@media (max-width: 768px) {
	.component {
		margin-bottom: 60px;
	}

	.component h2 {
		font-size: 80px;
	}

	.component p {
		font-size: var(--para-size-small);
		font-weight: 400;
		letter-spacing: 0px;
		margin-top: -24px;
	}
}

/* ---------------------------- end component ----------------------------- */

body {
	position: relative;
}
/* ----------------------------- START HEADER ------------------------------- */

body .up-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10;
	color: var(--white-color);
	background-color: var(--main-color);
	font-size: 22px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--main-transition);
	border-radius: 4px;
	cursor: pointer;
	/* ------- this for hide it from page and show it when the scroll in 550 */
	opacity: 0;
	pointer-events: none;
}

body .up-button:hover {
	background-color: #35b1ab;
}

@media (max-width: 768px) {
	body .up-button {
		background-color: #3394758c;
		bottom: 5px;
		right: 5px;
	}

	body .up-button:hover {
		background-color: #52bb9a87;
	}
}

/* ----------------------------- START HEADER ------------------------------- */
/* ----------------------------- START HEADER ------------------------------- */
header {
	position: fixed;
	left: 50%;
	transform: translateX(calc(-50% - 1px));
	width: 100%;
	z-index: 10;
	transition: all 0.3s ease-in-out;
}

.bgNav {
	background-color: var(--bg-color);
	width: 100%;
}

header .container .holder {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}

header .container .holder .logo .mainLogo {
	width: 115px;
}

header .container .holder .main {
	display: flex;
	justify-content: space-between;
	gap: 25px;
}

header .container .holder .main li {
	padding: 6px 0;
	border-radius: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all var(--second-transition) ease-in-out;
	position: relative;
}

header .container .holder .main li::before {
	content: "";
	width: 0%;
	height: 1.5px;
	background-color: var(--main-color);
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all var(--second-transition) ease-in-out;
}

header .container .holder .main li a {
	color: var(--second-para-color);
	text-transform: capitalize;
	font-size: var(--para-size-medium);
	transition: all var(--second-transition) ease-in-out;
}

header .container .holder .main > a {
	display: none;
}

/* -------------------This Is Hover For Nav List---------------------------------- */
header .container .holder .main li:hover a {
	color: var(--main-color);
}
header .container .holder .main li:hover:before {
	width: 100%;
}
/* ------------------------------------------------------------------------------- */

header .container .holder .search {
	width: 100px;
	display: flex;
	justify-content: flex-end;
}

header .container .holder #searching {
	display: none;
}

header .container .holder i {
	color: var(--second-para-color);
	transition: all var(--second-transition) ease-in-out;
	font-size: 22px;
}

header .container .holder i:hover {
	color: var(--bg-color);
}

header .container .holder .menu {
	display: none;
	font-size: 22px;
	transition: all var(--second-transition) ease-in-out;
	cursor: pointer;
}

header .container .holder .menu:hover {
	color: var(--main-color);
}

header .container .holder .contactUs .contact {
	color: var(--second-para-color);
	padding: 10px 12px;
	background-color: var(--main-color);
	font-size: var(--para-size-medium);
	font-weight: 500;
	text-transform: capitalize;
	border: 1.5px solid transparent;
	transition: all var(--second-transition) ease-in-out;
}

header .container .holder .contactUs .contact:hover {
	border: 1.5px solid var(--main-color);
	color: var(--main-color);
	font-weight: 400;
	background-color: transparent;
}

/* -----------------------------------------larg screen */
@media (max-width: 1200px) {
}

/* --------------------------------------medium screen */

@media (max-width: 992px) {
	header .container .holder .main li a {
		font-size: 12px;
	}

	header .container .holder .search {
		width: 90px;
		justify-content: center;
	}
}

/* --------------------------------------small screen */
@media (max-width: 768px) {
	header {
		top: 0px;
	}

	header .container .holder {
		height: 60px;
	}

	header .container .holder .logo .mainLogo {
		width: 70px;
	}

	header .container .holder .main {
		flex-direction: column;
		gap: 0;
		position: absolute;
		top: 60px;
		right: 0;
		width: 100%;
		background-color: var(--bg-color);
		display: none;
		transition: all var(--second-transition) ease-in-out;
		z-index: 10;
		opacity: 0;
	}

	/* ------------------------------------- This Is For The Menu Click */
	header .container .holder .opacityOne {
		opacity: 1;
	}

	header .container .holder .done {
		display: flex !important;
	}

	header .container .holder .main li {
		margin: 0;
		padding: 0;
	}
	header .container .holder .main li a {
		padding: 18px 120px 18px 30px;
		width: 100%;
	}
	header .container .holder .main > a {
		padding: 18px 120px 18px 30px;
		font-weight: 700;
		color: var(--second-para-color);
		text-transform: capitalize;
		font-size: var(--para-size-medium);
		transition: all var(--second-transition) ease-in-out;
	}

	header .container .holder .main > a:hover {
		color: var(--main-color);
	}

	header .container .holder .main li:hover a {
		color: var(--main-color);
		transform: translateX(10px);
	}
	header .container .holder .main li::before {
		display: none;
	}

	header .container .holder .main li:not(:last-child) {
		border-bottom: 1px solid var(--main-color);
	}

	header .container .holder .search {
		display: none;
	}

	header .container .holder .menu {
		display: block;
	}

	header .container .holder .contactUs .contact {
		display: none;
	}
}

/* ----------------------------- END HEADER ------------------------------- */

/* ------------------------------------------------------------------------ */

/* ---------------------------- START LANDING ----------------------------- */

.landing {
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 1;
}

.landing #pic-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0;
	transition: var(--second-transition);
}

@media (max-width: 768px) {
	.landing #pic-bg {
		/* width: 1200px; */
		left: 50%;
		transform: translateX(-50%);
		z-index: -2;
	}
}

.landing #pic-bg.done-done {
	opacity: 1;
}

.landing::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: #00000095;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.landing .container {
	height: 100%;
}

.landing .container .text_land {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 3;
}

.landing .container .text_land h3 {
	font-size: var(--font-biggest);
	font-weight: 800;
	color: var(--white-color);
	text-transform: capitalize;
	position: absolute;
	top: 160px;
	left: 50px;
}

.landing .container .text_land h3 span {
	color: var(--para-color);
}

.landing .container .text_land p {
	color: var(--white-color);
	font-size: var(--para-size-small);
	font-weight: 300;
	letter-spacing: 0.4px;
	line-height: 1.8;
	width: 50%;
	position: absolute;
	top: 330px;
	left: 50px;
}

.landing .container .text_land .socialIcons {
	position: absolute;
	top: 430px;
	left: 54px;
	display: flex;
	gap: 13px;
}

.landing .container .text_land .socialIcons i {
	font-size: 18px;
	color: var(--white-color);
	cursor: pointer;
	transition: all var(--second-transition) ease-in-out;
}

.landing .container .text_land .socialIcons i:hover {
	transform: scale(1.2);
	color: var(--main-color);
}

.landing .container .text_land .arrowDown {
	color: var(--white-color);
	font-size: 26px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	animation: arrowMove 0.8s ease-in-out infinite alternate;
	transition: all var(--second-transition) ease-in-out;
}

.landing .container .text_land .arrowDown:hover {
	animation-play-state: paused;
	color: var(--main-color);
}

@keyframes arrowMove {
	from {
		bottom: 50px;
	}
	to {
		bottom: 30px;
	}
}

/* ----------------------------------larg screen */
@media (max-width: 1200px) {
}

/* --------------------------------medium screen */
@media (max-width: 992px) {
}

/* -------------------------------small screen */
@media (max-width: 768px) {
	.landing {
		background-position: 50%;
	}

	.landing .container .text_land h3 {
		font-size: 50px;
		font-weight: 800;
		top: 160px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
	}

	.landing .container .text_land p {
		color: var(--second-para-color);
		font-size: var(--para-size-small);
		top: 330px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
	}

	.landing .container .text_land .socialIcons {
		top: 530px;
		left: 50%;
		transform: translateX(-50%);
	}

	.landing .container .text_land .socialIcons i {
		font-size: var(--para-size-large);
		color: var(--second-para-color);
		cursor: pointer;
		transition: all var(--second-transition) ease-in-out;
	}

	header .container .holder .main > a {
		display: block;
	}
}

/* ------------------------------------ the phone screen */
@media (max-width: 660px) {
	.landing .container .text_land h3 {
		font-size: 45px;
		width: 100%;
		font-weight: 800;
		top: 198px;
	}

	.landing .container .text_land p {
		width: 90%;
		top: 330px;
	}
}

/* ------------------------------------------galaxy fold screen */
@media (max-width: 300px) {
	.landing .container .text_land h3 {
		font-size: 35px;
		top: 190px;
	}

	.landing .container .text_land p {
		top: 310px;
	}
}

/* ----------------------------- END LANDING ------------------------------- */

/* ------------------------------------------------------------------------ */

/* ---------------------------- START SERVICES ----------------------------- */

.services {
	padding-top: var(--padding-top);
	padding-bottom: var(--padding-bottom);
}

.services .container .boxes {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
	gap: 50px;
	padding: 0 150px 0;
}

.services .container .boxes .cards {
	border: 8px solid var(--para-color);
	position: relative;
	transform: translate(-200px, 0);
	opacity: 0;
	overflow: hidden;
	transition: all 1s ease-in-out;
}

.services .container .boxes .cards span {
	width: 100%;
	height: 100%;
	background-color: #000000b2;
	position: absolute;
	top: 0;
	left: 0;
	border: 5px solid var(--para-color);
	transition: var(--second-transition);
}

.services .container .boxes .cards:hover span {
	background-color: #000000e3;
}

.services .container .boxes .cards h3 {
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	color: var(--white-color);
	font-size: 25px;
	font-weight: 900;
	transform: translate(-50%, -50%);
	transition: 0.3s ease-in-out;
}

.services .container .boxes .cards:hover h3 {
	color: #87e1c7;
}

.services img {
	width: 100%;
	transform: scaleY(1.01) translateY(2px);
	transition: 0.3s ease-in-out;
}

.services .container .boxes .cards:hover img {
	transform: rotate(-4deg) scale(1.4);
}

.services .container .boxes .cards p {
	position: absolute;
	top: calc(60% - 10px);
	left: 50%;
	transform: translate(-50%);
	width: 90%;
	text-align: center;
	color: var(--white-color);
	font-size: 11px;
	font-weight: 300;
	letter-spacing: 0.5px;
	transition: 0.5s ease-in-out;
	opacity: 0;
}

.services .container .boxes .cards:hover p {
	top: 60%;
	opacity: 1;
}

@media (max-width: 992px) {
	.services .container .boxes {
		gap: 10px 60px;
		padding: 60px 0 0;
	}

	.services .container .boxes .cards h3 {
		font-size: 20px;
	}
}

@media (max-width: 768px) {
	.services .container .boxes {
		gap: 40px;
		padding: 60px 0;
	}
}

/* ----------------------------- END SERVICES ------------------------------- */

/* ------------------------------------------------------------------------ */

/* ---------------------------- START ACTIVITIES ----------------------------- */

.activities {
	padding-top: var(--padding-top);
	padding-bottom: var(--padding-bottom);
}
.activities .videos-container {
	padding-left: 50px;
	padding-right: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 50px;
}

.activities .videos-container .card video {
	border: 3px solid #333;
	border-radius: 12px;
	width: 100%;
}

.activities .videos-container .card .text {
	padding: 14px 16px;
}
.activities .videos-container .card .text h3 {
	margin-bottom: 12px;
	text-transform: capitalize;
	font-size: var(--para-size-large);
	font-weight: 800;
	letter-spacing: 0.4px;
	color: var(--bg-color);
}
.activities .videos-container .card .text p {
	font-size: var(--para-size-small);
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 1px;
}

@media (max-width: 768px) {
	.activities .videos-container {
		padding-left: 10px;
		padding-right: 10px;
	}

	.activities .videos-container .card .text h3 {
		text-align: center;
	}
	.activities .videos-container .card .text p {
		text-align: center;
	}
}

/* ----------------------------- END ACTIVITIES ------------------------------- */

/* ---------------------------------------------------------------------------- */

/* ---------------------------- START SKILLS ---------------------------------- */

.skills {
	padding-top: var(--padding-top);
	padding-bottom: var(--padding-bottom);
}

.skills .holder-skills {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.skills .holder-skills .images {
	width: 60%;
	height: 450px;
	position: relative;
}
.skills .holder-skills .images .picOne {
	width: 55%;
	position: absolute;
	top: 50px;
	left: 40px;
}

.skills .holder-skills .images .picOne::before {
	content: "";
	width: 22%;
	height: 95%;
	background-color: var(--para-color);
	position: absolute;
	top: 35%;
	left: -30px;
	z-index: -1;
}
.skills .holder-skills .images .picOne::after {
	content: "";
	width: 22%;
	height: 90%;
	position: absolute;
	border-left: 70px solid var(--main-color);
	border-top: 55px solid var(--main-color);
	bottom: -28%;
	right: -123px;
	z-index: -1;
}
.skills .holder-skills .images .picTwo {
	width: 55%;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.skills .holder-skills .text-skills {
	width: 50%;
	padding: 50px 30px;
}
.skills .holder-skills .text-skills h2 {
	text-align: center;
	font-size: 45px;
	font-weight: 800;
	color: var(--main-color);
	text-transform: capitalize;
}

.skills .holder-skills .text-skills h2 span {
	font-size: 32px;
	font-weight: 800;
	margin-top: -26px;
	color: var(--bg-color);
	display: block;
}

.skills .holder-skills .text-skills hr {
	width: 25%;
	margin-top: 10px;
	margin-bottom: 60px;
	border: none;
	border-bottom: 2px solid var(--main-color);
	margin-left: auto;
	margin-right: auto;
}

.skills .holder-skills .text-skills h4 {
	font-size: var(--para-size-large);
	text-transform: capitalize;
	text-align: center;
	color: #333;
	margin-bottom: 15px;
}
.skills .holder-skills .text-skills p {
	text-align: center;
	width: 70%;
	font-size: var(--para-size-small);
	font-weight: 500;
	margin: 0 auto;
	letter-spacing: 0.8px;
	line-height: 1.6;
	color: #6d6d6d;
}

.skills img {
	width: 100%;
}

/* -------------------------------------------------------- */

@media (max-width: 1200px) {
	.skills .holder-skills .images {
		width: 100%;
	}

	.skills .holder-skills .text-skills {
		width: 50%;
		padding: 10px 10px;
	}

	.skills .holder-skills .text-skills p {
		width: 80%;
	}
}
/* ------------------------------------------------------- */

@media (max-width: 992px) {
	.skills .holder-skills {
		flex-direction: column;
	}

	.skills .holder-skills .text-skills {
		width: 100%;
		padding: 50px 30px;
	}

	.skills .holder-skills .text-skills p {
		width: 80%;
	}
}

/* -------------------------------------------------------- */

@media (max-width: 768px) {
	.skills .holder-skills .images {
		width: 100%;
	}
	.skills .holder-skills .images .picOne {
		width: 60%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.skills .holder-skills .images .picOne::before {
		width: 12%;
		height: 75%;
		top: 35%;
		left: -7%;
	}

	.skills .holder-skills .images .picOne::after {
		width: 12%;
		height: 40%;
		border-left: 40px solid var(--main-color);
		border-top: 35px solid var(--main-color);
		bottom: 60%;
		right: -18%;
	}

	.skills .holder-skills .images .picTwo {
		display: none;
	}

	.skills .holder-skills .text-skills {
		width: 100%;
		padding: 10px 10px;
	}

	.skills .holder-skills .text-skills hr {
		width: 15%;
		margin-bottom: 50px;
	}
}

@media (max-width: 450px) {
	.skills .holder-skills .images .picOne {
		width: 98%;
	}

	.skills .holder-skills .images .picOne::after {
		width: 12%;
		height: 40%;
		border-left: 30px solid var(--main-color);
		border-top: 25px solid var(--main-color);
		bottom: 60%;
		right: -18%;
	}

	.skills .holder-skills .images {
		width: 60%;
		height: 200px;
		position: relative;
	}
}

/* ----------------------------- END SKILLS ------------------------------- */

/* ---------------------------------------------------------------------------- */

/* ---------------------------- START USER-INFO ---------------------------------- */

.user-info {
	padding-top: var(--padding-top);
	padding-bottom: var(--padding-bottom);
}

.user-info .container .big-card {
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.425)),
		url(../Photos/landing_three.jpg);
	background-size: cover;
	width: 80%;
	margin: 0 auto;
	border-radius: 10px;
}

.user-info .container .big-card .inp-text {
	width: 100%;
	padding: 30px 40px;
}
.user-info .container .big-card .inp-text {
	width: 100%;
}
.user-info .container .big-card .inp-text h3 {
	text-transform: capitalize;
	font-size: 50px;
	font-weight: 800;
	letter-spacing: 2px;
	margin-bottom: 60px;
	color: var(--white-color);
}

.user-info .container .big-card .inp-text p {
	font-size: var(--para-size-medium);
	text-transform: capitalize;
	font-weight: 400;
	letter-spacing: 0.3px;
	color: var(--white-color);
	line-height: 1.6;
	margin-bottom: 20px;
}

.user-info .container .big-card .inp-text form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.user-info .container .big-card .inp-text form #inp {
	border: none;
	background: white;
	width: 340px;
	height: 50px;
	padding: 10px 15px;
}

.user-info .container .big-card .inp-text form #inp:focus {
	outline: none;
	border: 1px solid var(--para-color);
}
.user-info .container .big-card .inp-text form #sub {
	border: none;
	background: var(--bg-color);
	width: 100px;
	height: 50px;
	font-size: 18px;
	color: var(--white-color);
	text-transform: capitalize;
	cursor: pointer;
	transition: all 0.5s;
}

.user-info .container .big-card .inp-text form #sub:hover {
	background-color: #064e4b;
}

@media (max-width: 768px) {
	.user-info .container .big-card {
		padding-top: 0px;
		padding-bottom: 0px;
		width: 90%;
	}

	.user-info .container .big-card .inp-text h3 {
		font-size: 35px;
		font-weight: 700;
		letter-spacing: 1px;
		margin-bottom: 30px;
		text-align: center;
	}

	.user-info .container .big-card .inp-text p {
		font-size: var(--para-size-small);
		letter-spacing: 0.3px;
		line-height: 1.4;
		margin-bottom: 15px;
		text-align: center;
		width: 100%;
	}

	.user-info .container .big-card .inp-text form {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 10px;
	}

	.user-info .container .big-card .inp-text form #inp {
		width: 90%;
		height: 35px;
		font-size: 14px;
		padding: 8px 10px;
		text-align: center;
		border-radius: 10px;
	}

	.user-info .container .big-card .inp-text form #sub {
		border: none;
		background: var(--bg-color);
		width: 100px;
		height: 35px;
		font-size: 16px;
		color: var(--white-color);
		text-transform: capitalize;
		cursor: pointer;
		transition: all 0.5s;
		border-radius: 10px;
	}
}

/* ----------------------------- END USER-INFO  ------------------------------- */

/* ---------------------------------------------------------------------------- */

/* ---------------------------- START FOOTER ---------------------------------- */

footer {
	background-color: var(--bg-color);
	color: var(--white-color);
	padding-top: 40px;
	padding-bottom: 40px;
}

footer .container .holder {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 40px;
	padding-right: 40px;
}

footer .container .holder .other-footer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	gap: 40px;
	margin-bottom: 60px;
}
footer .container .holder .other-footer .cards {
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 30px;
	background-color: #00000069;
	color: var(--main-color);
	border-radius: 6px;
	cursor: pointer;
	transition: var(--second-transition);
}

footer .container .holder .other-footer .cards:hover {
	color: var(--white-color);
	background-color: var(--main-color);
	transform: scale(1.1);
}

footer .container .holder .other-footer .cards i {
	font-size: 30px;
	margin-bottom: 30px;
}
footer .container .holder .other-footer .cards h5 {
	margin-bottom: 5px;
	font-size: var(--para-size-medium);
}
footer .container .holder .other-footer .cards P {
	font-size: var(--para-size-small);
}

footer .container .holder .logo-social,
footer .container .holder .main-footer,
footer .container .holder .informations-foote {
	width: 25%;
}

footer .container .holder .logo-social {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer .container .holder .logo-social img {
	width: 180px;
}

footer .container .holder .logo-social .icons {
	display: flex;
	justify-content: center;
	gap: 10px;
}
footer .container .holder .logo-social .icons a {
	color: var(--white-color);
}
footer .container .holder .logo-social .icons a i {
	width: 40px;
	height: 40px;
	background-color: #00000069;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--para-size-large);
	border-radius: 4px;
	color: var(--white-color);
	transition: var(--second-transition);
}
footer .container .holder .logo-social .icons a i:hover {
	transform: scale(1.1);
}

footer .container .holder .logo-social .icons a i.face:hover {
	background-color: #3b5998;
}
footer .container .holder .logo-social .icons a i.insta:hover {
	background-color: #d62976;
}
footer .container .holder .logo-social .icons a i.twit:hover {
	background-color: #00acee;
}
footer .container .holder .logo-social .icons a i.linked:hover {
	background-color: #0072b1;
}

footer .container .holder .main-footer {
	display: flex;
	flex-direction: column;
}

footer .container .holder .main-footer a {
	color: var(--white-color);
	display: flex;
	gap: 15px;
	padding-top: 14px;
	margin-left: 30px;
}

footer .container .holder .main-footer a:hover > i {
	transform: translateX(20px);
}

footer .container .holder .main-footer a:not(:last-child) {
	padding-bottom: 14px;
	border-bottom: 1px solid #d7d6d6;
	width: 75%;
}

footer .container .holder .main-footer a i {
	font-size: var(--para-size-small);
	color: var(--main-color);
	transition: var(--second-transition);
}
footer .container .holder .main-footer a li {
	text-transform: capitalize;
	font-size: var(--para-size-medium);
	font-weight: 400;
	letter-spacing: 1px;
	transition: var(--second-transition);
}

footer .container .holder .main-footer a:hover > i,
footer .container .holder .main-footer a:hover > li {
	transform: translateX(20px);
}

footer .container .holder .informations-footer {
	padding-top: 10px;
}

footer .container .holder .informations-footer .adresse {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 15px;
	font-size: var(--para-size-medium);
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 1.4;
}

footer .container .holder .informations-footer .adresse i {
	font-size: var(--para-size-large);
	color: var(--main-color);
}

.footer .up-button-two {
	position: absolute;
	bottom: 55px;
	right: 20px;
	color: var(--white-color);
	background-color: var(--main-color);
	font-size: 22px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	cursor: pointer;
}

.footer .up-button-two:hover {
	background-color: #35b1ab;
}

@media (max-width: 768px) {
	footer .container .holder {
		flex-direction: column;
		justify-content: center;
	}

	footer .container .holder .logo-social,
	footer .container .holder .main-footer,
	footer .container .holder .informations-foote {
		width: 100%;
		margin-bottom: 50px;
	}

	footer .container .holder .informations-footer .adresse {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		margin-bottom: 25px;
		font-size: var(--para-size-medium);
		font-weight: 500;
		letter-spacing: 0.5px;
		line-height: 1.4;
	}

	footer .container .holder .informations-footer .adresse p {
		text-align: center;
	}

	.footer .up-button-two {
		background-color: #3394758c;
		bottom: 50px;
		right: 10px;
	}

	.footer .up-button-two:hover {
		background-color: #52bb9a87;
	}
}

/* ------------------------------ THE FINISH ------------------------------------------------- */

.finish {
	background-color: #1c1c1c;
}

.finish p {
	color: var(--white-color);
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: var(--para-size-small);
}

.finish p span {
	color: var(--main-color);
	font-weight: 700;
}

@media (max-width: 768px) {
	.finish p {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 10px;
	}
}

/* ------------- BY EL MEHDI EL HARAKAT <3 <3 --------------------- */
